{% extends "base.html" %}
{% block content %}
    {% block title %}Dishbook Home {% endblock%}
    {% block nav %}
    <div class="nav">
        <a href="/">Home</a>
        <a href="/s">Search</a>
    </div>
    {% endblock %}
    
    <h1>Welcome to Dishbook</h1>
    <p>Browse recipes shared by our community.</p>

    <div class="recipes-list">
    {% for recipe in recipes %}
        {% include "dishbook/recipe_card.html" %}
    {% empty %}
        <p>No recipes yet.</p>
    {% endfor %}
</div>
    {% endblock%}
<!-- </body> -->
<!-- </html> -->
