{% extends "base.html" %}
{% block content %}
    {% block title %}{{ author.get_full_name|default:author.username }} - Dishbook{% endblock %}

    {% block nav %}
    <div class="nav">
        <a href="/">Home</a>
        <a href="/s">Search</a>
    </div>
    {% endblock %}

    
    <h1>{{ author.get_full_name|default:author.username }}</h1>

    <div class="profile-intro">
        <div>
            {% if profile.photo %}
                <img src="{{ profile.photo.url }}" alt="Profile photo of {{ author.get_full_name|default:author.username }}">
            {% endif %}
        </div>
        <div>
            <p><strong>Username:</strong> {{ author.username }}</p>
            <p>{{ profile.bio }}</p>
        </div>
    </div>

    <h2>Recipes</h2>
    <div class="recipes-list">
    {% for recipe in recipes %}
        {% include "dishbook/recipe_card.html" %}
    {% empty %}
        <p>No recipes yet.</p>
    {% endfor %}
</div>
<!-- </body> -->
 {% endblock %}
<!-- </html> -->
