<!-- recipe_card.html - Improved version -->
<div class="recipe-card">
    <h3><a href="/recipe/{{ recipe.id }}/">{{ recipe.title }}</a></h3>

    {% if recipe.photo %}
        <img src="{{ recipe.photo.url }}" alt="Photo of {{ recipe.title }}" class="recipe-image">
    {% endif %}

    <p class="recipe-description">{{ recipe.description|truncatewords:16 }}</p>

    <div class="recipe-tags">
        {% for tag in recipe.tags.all %}
            <span class="tag">{{ tag.name }}</span>
            {% if not forloop.last %} {% endif %}
        {% endfor %}
    </div>
</div>