{% extends "base.html" %}
{% block content %}
    {% block title %}Search - Dishbook{% endblock%}
    {% block nav %}
    <div class="nav-row">
        <a href="/">Home</a>
        <a href="/s">Search</a>
    </div>
    {%endblock%}

    
    <h1>Search Recipes</h1>

    <div class="search-block">
        <form action="/s" method="get">
            <label for="big-search">Search</label>
            <input id="big-search" type="search" name="q" value="{{ query }}">
            <button>Search</button>
        </form>
    </div>

    <div class="recipes-list">
    {% for recipe in recipes %}
        {% include "dishbook/recipe_card.html" %}
    {% empty %}
        <p>No recipes yet.</p>
    {% endfor %}
</div>
    {%endblock %}
<!-- </body>
</html> -->
