{% extends "base.html" %}

{% block title %}Search - Dishbook{% endblock %}

{% block content %}
<h1>Search Recipes</h1>

<div class="search-block">
    <form action="/s" method="get">
        <label for="big-search">Search</label>
        <input id="big-search" type="search" name="q" value="{{ query }}">
        <button>Search</button>
    </form>
</div>

<div class="recipes-list">
    {% for recipe in recipes %}
        {% include "recipe_card.html" with recipe=recipe %}
    {% empty %}
        <p>No recipes found.</p>
    {% endfor %}
</div>
{% endblock %}